<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
      <div class="vw-plugin-top-wrapper"></div>
    </div>
  </div>
  <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
  <script>
    new window.VLibras.Widget('https://vlibras.gov.br/app');
  </script>
<script>
    let menuList = document.getElementById("menuList")
    menuList.style.maxHeight = "0px";

    function toggleMenu(){
        if(menuList.style.maxHeight == "0px")
        {
            menuList.style.maxHeight = "300px";
        }
        else{
            menuList.style.maxHeight = "0px";
        }
    }
  //   document.addEventListener('DOMContentLoaded', function () {
  //   document.querySelectorAll('a').forEach(link => {
  //     link.addEventListener('click', function (e) {
  //       const href = this.getAttribute('href');

  //       // Ignora links externos, âncoras ou que abrem nova aba
  //       if (
  //         href.startsWith('#') ||
  //         href.startsWith('http') ||
  //         this.target === '_blank'
  //       ) return;

  //       // Aplica a animação e troca a página depois
  //       e.preventDefault();
  //       document.body.classList.add('fade-out');

  //       setTimeout(() => {
  //         window.location = href;
  //       }, 0); // tempo da animação
  //     });
  //   });
  // })
// Salva as páginas navegadas
  const current = window.location.pathname;
  let historyStack = JSON.parse(sessionStorage.getItem('customHistory') || '[]');

  if (historyStack.length === 0 || historyStack[historyStack.length - 1] !== current) {
    historyStack.push(current);
    sessionStorage.setItem('customHistory', JSON.stringify(historyStack));
  }

  function goBack() {
    let stack = JSON.parse(sessionStorage.getItem('customHistory') || '[]');
    stack.pop(); // remove a atual
    const previous = stack.pop(); // pega a anterior

    if (previous) {
      sessionStorage.setItem('customHistory', JSON.stringify(stack));
      window.location.href = previous;
    } else {
      window.location.href = '/'; // fallback
    }
  }
</script>
<script src="https://kit.fontawesome.com/f8e1a90484.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
</body>
</html>